<% @blogs.each do |blog| %>
  <article>
        <div class="large-9  small-12 push-1 radius">
          <%= image_tag 'body_frame.png', class: 'blog_article_bg' %>
          <div class="row" style="margin-right:2%">
            <div class="large-6 small-6 columns" style="padding:5px 0">  
              <%= image_tag blog.image.url(:thumb).to_s, class: "blog_img" %>
            </div>
            <div class="large-6 small-6 columns">
              <h3 style="color:white"><%= blog.title %></h3>
              <h6>Written on <%= blog.updated_at.strftime('%b %d, %Y') %></h6>
              <p><%= blog.description %></p>  
            </div>
          </div>      
        </div>
    <%= link_to "delete", blog, method: :delete %>
  </article>
<% end %>

 


