<div class="contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>Site Administration</h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to 'News', '/', class: "news_admin_button" %></li>
        <li class="divider"></li>
        <li><%= link_to 'Events', '/', class: "events_admin_button" %></li>
        <li class="divider"></li>
        <li><% if current_admin %>
              <%= link_to 'Sing_out', singout_path %>   
            <% else %>
              <%= link_to 'Sing_in', '/' %>
            <% end %>
        </li>
      </ul>
    </section>
  </nav>
</div>

<div class="row">
  <div class="large-4 columns push-6">
    <div class="admin_panel">
      <%= image_tag 'icons/up_arrow.png', class: 'up_arrow' %>
      <%= render 'welcome/news_panel' %>
    </div> 
  </div>
</div>
