<article class="main_article_bg">
  <% @blogs.each do |blog| %>
      <div class="large-8 push-1 radius">
        <div class="row">
          <div class="large-12 padding_for_fitting">
            <div class="large-6 small-4">  
              <h4 class="main_title_blog"><%= blog.title %></h4><hr>
            </div>
            <div class="large-12 small-8">
              <div class="row">
                <div class="large-6 columns">
                  <%= sanitize(blog.image_url) %>
                </div>
                <div class="large-6 columns">
                  <% if blog.description.length >= 200 %>
                    <p><%= truncate(blog.description, length: 200) + " Read More"%></p> 
                  <% else %>
                    <p><%= blog.description %></p> 
                  <% end %>
                </div>
              </div>
              <div class="large-5 push-7">
                <h6 style="">Written on <%= blog.updated_at.strftime('%b %d, %Y') %></h6>
              </div>
            </div>
          </div>
        </div>      
      </div>
  <% end %>
  <div class="large-3 push-9 small-3">
    <%= link_to "More News..", blogs_path %>
  </div>
</article>