<article class="small-12">
  <%= image_tag 'body_frame.png', class:"welcome_events" %>
  <% @blogs.each do |blog| %>
      <div class="large-8 small-8 push-1 radius">
        <div class="row">
          <div class="large-12 mobile_news">
            <div class="large-6 small-6">  
              <h4 class="main_title_blog"><%= blog.title %></h4><hr>
            </div>
            <div class="large-12 small-12">
              <div class="row">
                <div class="large-6 small-6 columns">
                  <%= image_tag blog.image.url(:welcome_blog).to_s %>
                </div>
                <div class="large-6 small-6 columns">
                  <% if blog.description.length >= 200 %>
                    <p><%= truncate(blog.description, length: 200) %></p> 
                    <%= link_to '...Read more', blog %>
                  <% else %>
                    <p><%= blog.description %></p> 
                  <% end %>
                </div>
              </div>
              <div class="large-5 small-12 push-7">
                <h6 style="">Written on <%= blog.updated_at.strftime('%b %d, %Y') %></h6>
              </div>
            </div>
          </div>
        </div>      
      </div>
  <% end %>
  <div class="large-3 push-9 mobile_more_news">
    <%= link_to "More News..", blogs_path %>
  </div>
</article>

