<div class="row">
	<div class="large-8 small-12 columns mobile_padding">		
		<%= render 'news' %>
	</div>
	<div class="large-4 small-10 columns text_white mobile_padding">
		<div class="row">
			<div class="large-6 push-1 columns">
				<h4 style='padding-top:3%'>NEXT STAGES:</h4>
			</div>	
			<div class="large-5 columns push-1" style="margin-top:5%">
				<%= link_to 'All Performances', performances_path %>
			</div>
		</div>
		<%= image_tag 'body_frame.png', class:"welcome_events" %>
		<table class="small-12">
		  <thead>
		    <tr>
		      <th width="100" class='center'>Date</th>
		      <th width="150" class='center'>Location</th>
		      <th widht="250" class='center'>Description</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @performances.each do |performance| %>
		      <tr>
		        <td><%= performance.date.strftime('%b %d , %Y') %></td>
		        <td><%= performance.location %></td>
		        <td><%= truncate(performance.description, length: 20) %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
	<div class="large-4 small-10 columns" style="margin-top:1%">
		<a class="twitter-timeline" href="https://twitter.com/danzhumusic" data-widget-id="398907771409551361">Tweets by @danzhumusic</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<div class="large-4 small-12 columns social_float">
		<h4>Also on:</h4>
		<a href='/' ><%= image_tag 'icons/fb.png' %></a>
		<a href='/'><%= image_tag 'icons/weibo.png', width: '25px', height: '25px' %></a>
		<a href='/' ><%= image_tag 'icons/youtube.png', width: '25px', height: '25px' %></a>
		</div>
	</div>
</div>
