<div class="contain-to-grid administration isDown">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>Site Administration</h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <% if current_admin %>
          <li class="divider"></li>
          <li><%= link_to 'News', '/', class: "news_admin_button" %></li>
          <li class="divider"></li>
          <li><%= link_to 'Events', '/', class: "events_admin_button" %></li>
          <li class="divider"></li>
          <li class="divider"></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign out', destroy_admin_session_path, method: :delete %>
              <div class="admin_jumper_sign_in"></div></li>
        <li class="divider"></li>
        <li class="divider"></li>
        <li class="divider"></li>
        <% else %>
        <li><%= link_to 'Sign in', new_admin_session_path %>
            <div class="admin_jumper"></div></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>

<div class="row ">
  <div class="large-4 columns push-6">
    <div class="admin_panel">
      <%= image_tag 'icons/up_arrow.png', class: 'up_arrow' %>
      <%= render 'layouts/news_panel' %>
    </div> 
  </div>
</div>
