<div id="icon_new">
	<%= image_tag 'icons/new_icon.png' %>
	<%= image_tag 'icons/new_icon_hover.png' %>
</div>
<div id="icon_edit">
	<%= image_tag 'icons/edit_icon.png' %>
	<%= image_tag 'icons/edit_icon_hover.png' %>
</div>
<div id="icon_destroy">
	<%= image_tag 'icons/delete_icon.png' %>
	<%= image_tag 'icons/delete_icon_hover.png' %>
</div>