
  <%= form_for(@blog) do |f| %>
    <div class="row">
      <div id="news_form">
          <div class="large-12">
            <div class="row">
              <div class="large-2 columns">
                <h5><%= f.label :title %></h5>
              </div>
              <div class="large-10 columns">
                <%= f.text_field :title %>
              </div>
            </div>
          </div>
          <div class="large-12">
            <div class="row">
              <div class="large-2 columns">
                <h5><%= f.label :description %></h5>
              </div>
              <div class="large-10 columns">
                <%= f.text_area :description %>
              </div>
            </div>
          </div>
          <div class="large-12">
            <div class="row">
              <div class="large-2 columns">
                <h5><%= f.label :image_url %></h5>
              </div>
              <div class="large-10 columns">
                <%= f.text_area :image_url, class: 'ckeditor' %>
              </div>
            </div>
          </div>
        </div>
    </div>
  <% end %>

