<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "DanZhu Music" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller.controller_name %>">
    <!-- admin CP -->
      <%=  render 'layouts/admin' %>
    <!-- header content -->

    <header>
      <div class="row">
        <div class="large-8 small-12 columns">
          <div class="relative">
            <%= image_tag 'header_bg1.png', class: 'header_bg1' %>
            <%= image_tag 'header_bg2.png', class: 'header_bg1' %>
            <%= image_tag 'header_bg3.png', class: 'header_bg1' %>
            <%= image_tag 'header_bg4.png', class: 'header_bg1' %>   
            <%= image_tag 'header_bg5.png', class: 'header_bg1' %>
            <%= image_tag 'header_bg6.png', class: 'header_bg1' %>
            <%= image_tag 'header_bg7.png', class: 'header_bg1' %>
            <%= image_tag 'header_bg8.png', class: 'header_bg1' %>
            <%= image_tag 'header_bg9.png', class: 'header_bg1' %>
            <%= image_tag 'header_bg10.png', class: 'header_bg1' %>
          </div>      
        </div>
        <div class="large-4 small-4 columns ">
          <div class="relative">
            <%= image_tag 'header_logo.png', class: 'start_logo' %>
            <%= image_tag 'header_name.png', class: 'start_name' %>
          </div>
        </div>
      </div>
    </header>

    <!-- end header content -->

    <!-- main content -->

    <div class="row">
      <div class="large-12 menu">
          <div class="row">
            <div class="large-4 columns small-6">
              <nav class="nav_left">
                <ul>
                  <%= link_to 'Welcome', home_path, class: "button round" %>
                  <%= link_to 'Bio', bios_path, class: "button round" %>
                  <%= link_to 'Performances', performances_path, class: "button round" %>
                </ul>
              </nav>
            </div>
            <div class="large-4 columns large-offset-3 small-6 ">
              <nav class="nav_right">
                <ul>
                  <a class="button round">Media</a>
                  <%= link_to 'News', blogs_path, class: "button round" %>
                  <%= link_to "Contact", contact_path, class: "button round" %>
                </ul>
              </nav>
            </div>
          </div>
          <%= image_tag 'header_violin.png', class: 'header_violin' %>
      </div>
      <div class="large-12 columns"><br/>
        <%= yield %>
      </div>
    </div><br/>

    <!-- end main content -->
    <!-- footer -->

    <footer>
      <div class="row"></div>
    </footer>

    <!-- end footer -->
    
    <%= javascript_include_tag "application" %>
  </body>
</html>
